
{%  extends "main.html" %}

    {% block news %}
    {% endblock %}

    {% block main %}
        <form action="" method="post">
            {% for field in pro_form %}
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}
            {% endfor %}
            {{ field.non_form_errors }}

            {% for field in reg_form %}
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}
            {% endfor %}
            {{ field.non_form_errors }}
            {% csrf_token %}
        </br>
        <input type="submit">
        </form>
    {% endblock %}
