{% extends "main.html" %}

{% block news %}
    <script type="text/javascript">
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        $(".collapse").collapse()
    </script>
    
    <script>
	$(document).ready(function(){
		$("td:contains('eBay')").css("color", "red");
		});
   </script>

    <div class="span3">

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li class="nav-header">Control panel</li>

        <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    New KeyWord
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0 ">
                <div class="accordion-inner">
                    <form action="add_keywords">
                        {% for field in keyword %}
                            {{ field.label_tag }}{{ field }}
                            {{ field.errors }}
                        {% endfor %}
                        {{ field.non_form_errors }}
                        </br>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThird">
                    Export excel
                </a>
            </div>
            <div id="collapseThird" class="accordion-body collapse" style="height: 0 ">
                <div class="accordion-inner">
                    <form action="excel">
                        {% for field in excel_form %}
                            {{ field.label_tag }}{{ field }}
                            {{ field.errors }}
                        {% endfor %}
                        {{ field.non_form_errors }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="delete?bundle={{ bundle.id }}">
                Delete bundle
            </a>
        </div>
    </div>

    </ul>
    </div>
</div>

{% endblock %}

{% block main %}
<div class="tabbable" style="margin-bottom: 18px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">Lowest</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">Not lowest</a></li>
        <li class=""><a href="#tab4" data-toggle="tab">eBay</a></li>
    </ul>
    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
        <div class="tab-pane active" id="tab1">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Shop Price</th>
                </tr>
                </thead>
                {% for key in keyquery %}
                    <tr>
                        <td>
                            {{ key.title }}
                        </td>
                        <td>
                        <a href="{{ key.url }}">
			    {{ key.shop }}
			</a> 
                       </td>
                        <td>
                            {{ key.price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="tab2">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>KeyWord</th>
                    <th>Company</th>
                    <th>Shop Price</th>
                </tr>
                </thead>
                {% for low in lowest %}
                    <tr>
                        <td>
                            {{ low.title }}
                        </td>
                        <td>
                            {{ low.keyword }}
                        </td>
                        <td>
                            <a href="{{ low.url }}">
                            {{ low.shop }}
			    </a>
                        </td>
                        <td>
                            {{ low.price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="tab3">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>KeyWord</th>
                    <th>Company</th>
                    <th>Shop Price</th>
                </tr>
                </thead>
                {% for not_low in not_lowest %}
                    <tr>
                        <td>
                            {{ not_low.title }}
                        </td>
                        <td>
                            {{ not_low.keyword }}
                        </td>
                        <td>
                            <a href="{{ not_low.url }}">
                            {{ not_low.shop }}
                            </a>
			</td>
                        <td>
                            {{ not_low.price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="tab4">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>KeyWord</th>
                    <th>Company</th>
                    <th>Shop Price</th>
                </tr>
                </thead>
                {% for eitem in eBay %}
                    <tr>
                        <td>
                            {{ eitem.title }}
                        </td>
                        <td>
                            {{ eitem.keyword }}
                        </td>
                        <td>
                            <a href="{{ eitem.url }}">
                            {{ eitem.shop }}
                            </a>
			</td>
                        <td>
                            {{ eitem.price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
