{% extends "main.html" %}

{% block news %}
{% endblock %}

{% block main %}
        <div class="marketing">
            <h1>Search you project in google shop</h1>
            <p class="marketing-byline">You can find and monitor you products price.</p>
            <div class="row">
                <div class="span4">
                    <h2>Search in google API</h2>
                    <p>You can find your product and compare price with your competitors. Sadly at this time we can find only products that are registered in google API.</p>
                </div>
                <div class="span4">
                    <h2>Export your result</h2>
                    <p>You can export result in excel. And view it in the time. Excel spreadsheets are stored in excel sorted by keywords.</p>
                </div>

                <div class="span4">
                    <h2>Database</h2>
                    <p>All information are stored in database. We provide save and personal access to your data. </p>
                </div>
            </div><!--/row-->
        </div>
{% endblock %}