{% extends "main.html" %}
{% block main %}
     <form class="wallet" method="post" action="/login">
        {% csrf_token %}
         User name
         </br>
         <input for="username" name="username" type="text">
         </br>
         Password
         </br>
         <input for="password" name="password" type="password">
         </br>
         <input type="submit">
        {{ msg }}
     </form>

{% endblock %}

{% block news %}
{% endblock %}