<html>
<head>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tabs.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="/static/bundle/bundle.js"></script>

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>

    {% endblock %}

    {% block goole_script %}
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', {packages: ['table']});
        </script>
        <script type="text/javascript">
            var visualization;

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Id');
            data.addColumn('string', 'Name');
            data.addColumn('string', 'Path');
            data.addColumn('boolean', 'Execute');

            {% for bundle in bundles %}
                data.addRow([{{ bundle.id }}, '{{ bundle.name }}', '{{ bundle.key_word_list }}', true])
            {% endfor %}

            function drawVisualization() {
                visualization = new google.visualization.Table(document.getElementById('table'));
                visualization.draw(data, null);

                // Add our selection handler.
                google.visualization.events.addListener(visualization, 'select', selectHandler);
            }

            // The selection handler.
            // Loop through all items in the selection and concatenate
            // a single message from all of them.
            function selectHandler() {
                var selection = visualization.getSelection();
                var message = '';
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    if (item.row != null) {
                        var str = data.getValue(item.row, 0);
                        message += str;
                    }
                }
                if (message != '')
                    window.location = "/bundle_context?bundle=" + message
            }
            google.setOnLoadCallback(drawVisualization);
        </script>
    {% endblock %}
    <title>
        {% block title %}
            Google shop analyst
        {% endblock %}

    </title>

</head>

<body>
{% block nav %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="#">Find your price</a>

            </div><!--/.nav-collapse -->
        </div>
    </div>

{% endblock %}

{% block header %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div  style="background-color: #222; height: 50px;" class="container-fluid">
                <a class="brand" href="#">Shop info</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/main">Home</a></li>
                        <li class="active"><a href="/profile">Profile</a></li>
                        <li class="active"><a href="/registration">Registration</a></li>
                    </ul>
                    {% if is_logged_in %}
                        <p class="navbar-text pull-right">Logged in as <a href="/login">{{ username }}</a></p>
                    {% else %}
                        <p class="navbar-text pull-right">

                            {% if user.is_authenticated %}
                                <a href="/logout">
                                    Logout
                                </a>
                            {% else %}
                                <a href="/login">
                                    Login
                                </a>
                            {% endif %}

                        </p>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %}


<div class="container-fluid">
    <div class="row-fluid">
        {% block news %}

            <script type="text/javascript">
                $('#myTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                })

                $(".collapse").collapse()
            </script>

            <div class="span3">

                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Control panel</li>
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        New Bundle
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
                                    <div class="accordion-inner">
                                        <form enctype="multipart/form-data" method="POST" action="/load_bundle">
                                            {% csrf_token %}
                                            {% for field in bundle %}
                                                {{ field.label_tag }}{{ field }}
                                                {{ field.errors }}
                                            {% endfor %}
                                            {{ field.non_form_errors }}
                                            <input type="submit">
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ul>
                </div>

            </div>
        {% endblock %}


        <div style="width: 70%;" class="span9">
            {% block main %}
                <div id="table"></div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
            </footer>
        {% endblock %}

    </div>
</div>
</body>
</html>
