{% extends "main.html" %}

{% block news %}
{% endblock %}

{% block main %}
    <form action="" method="post">
    <table>
    {% csrf_token %}
    {% for field in form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field }}
            </td>
        {{ field.errors }}
        </tr>
    {% endfor %}

    <tr>
        <td>
            <input type="submit">
        </td>
    </tr>

    </table>
    </form>
{% endblock %}
