<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <table>
    {% for item in items %}
      <tr style="margin-top: 15px">
        <td>
        {{ item.title }}
        </td>

        <td>
        {{ item.price }}
        </td>

      </tr>
    {% endfor %}
    </table>
</body>
</html>