.title{
	font-size : 15px;
	padding : 5px;
}
.description{
	border-top : 1px solid black;
	padding : 5px;
}

.priority{
	border-top : 1px solid black;
	padding : 15px;
	padding-bottom : 0px;
	width : 100%;
	font-size : 15px;
}

.end_date{
	padding : 15px;
}

.task_wrapper{
	border : 1px solid black;
	border-radius : 5px;
	margin-bottom : 15px;
}
